.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grid-item button {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 2px;
}

.boardOfNine{
    background-image: url('/static/image/boardOfNine.jpg');
    background-size: cover;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 /* Switch开关样式 */
 /* 必须是input为 checkbox class 添加 switch 才能实现以下效果 */
 input[type='checkbox'].switch{
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: relative;
    width: 40px;
    height: 20px;
    background: #ccc;
    border-radius: 10px;
    transition: border-color .3s, background-color .3s;
}

input[type='checkbox'].switch::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height:1rem;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0, 0, 2px, #999;
    transition:.4s;
    top: 2px;
    position: absolute;
    left: 2px;
}

input[type='checkbox'].switch:checked {
    content : "语音模式";
    background: rgb(19, 206, 102);
}
/* 当input[type=checkbox]被选中时：伪元素显示下面样式 位置发生变化 */
input[type='checkbox'].switch:checked::after {
    content: '点击模式';
    position: absolute;
    left: 55%;
    top: 2px;
}
