.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item {
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.grid-item button {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    width: 60px;
    height: 60px;
    margin: 10px;
}

.boardOfNine{
   display: flex;
    flex-direction: column; /* 垂直布局 */
    align-items: center;
    background-image: url('/static/image/boardOfNine.jpg');
    background-size: cover; /* 使图片覆盖整个区域 */
    width: 500px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box; /* 包括 padding 在内的大小 */
}

.modeSelect {
    width: 20px; 
    height: 50px; 
    background-image: url('/static/image/modeButton.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
    border: none;
    transition: transform 0.6s; 
    transform-style: preserve-3d; 
}

.modeSelect.flipped {
    transform: rotateY(180deg);
    transition: transform 0.6s; 
    transform-style: preserve-3d; 
}

.answer {
    margin-top: 20px; /* 让答案部分与九宫格有一定间距 */
    text-align: center; /* 答案居中 */
}

.close-button {
    position: absolute;
    top: 270px;
    right: 390px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.background-container {
    background-image: url('/static/image/gameRuleBack.png');
    background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    height: 500px;
}

.background-container p {
    margin: 10px 0;
}

