<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Image Search Engine</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Long+Cang&family=Zhi+Mang+Xing&display=swap" rel="stylesheet">
</head>

  <body class="body mainbackgroud">

    <div class="header">
      <p>你好，<br>欢迎来到诗词中心！<br><span class="highlight">我是你的好朋友，诗小语。</span></p>
    </div>
  

  <div class="card-container">
    <div class="card card1">
      <button class="myButton" onclick="XuexiMode()">
        <div class="card-content">研学探秘</div>
      </button>
    </div>

    <div class="card card2">
      <button class="myButton" onclick="BeisongMode()">
        <div class="card-content">成诵古韵</div>
      </button>
    </div>

    <div class="card card3">
      <button class="myButton" onclick="ChuanguanMode()">
        <div class="card-content">闯关夺宝</div>
      </button>
    </div>

    <div class="card card4">
      <button class="myButton" onclick="FeihuaMode()">
        <div class="card-content">飞花传令</div>
      </button>
    </div>
  
  </div>

  <div class="below">
 
    <p id="random-content"></p>
 
  </div>
  <script src="{{ url_for('static', filename='js/dump.js') }}"></script>
  <script src="{{ url_for('static', filename='js/recommend.js') }}"></script>
  <script>
    //var questionsOfGridData = {{ questionsOfGridData|safe }};
</script>
</body>

</html>